.blogs-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.blog {
    /* padding: 1rem; */
    border-radius: 12px;
    border-radius: 8px;
}

.blog h1 {
    background: #111827;
    color: white;
    padding: 0.8rem;
    border-radius: 12px 12px 0px 0px;
}

.blog p {
    border: 1px solid #111827;
    border-radius: 0px 0px 12px 12px;
    padding: 0.8rem;
}