.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    padding-block: 24px;
}

.home-container {}

.hero-image {
    border-radius: 12px 0px 0px 12px;
    width: 80%;
    margin-block: auto;
    margin-left: auto;
}

.hero-heading {
    font-weight: 800;
    font-size: 48px;
    padding: 0px;
    margin: 0px;
}

.hero-image{
    display: grid;
    grid-template-rows: 1fr 1fr;
    aspect-ratio: 1/1;
    gap: 16px;
}

.hero-image img{
    border-radius: 8px;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.5rem;
    color: white;
}

.light-button {
    margin-top: 1rem;
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #374151;
    color: rgb(226, 226, 226) !important;
}

.icons {
    font-size: 4.5rem;
    padding: 4px;
    border-radius: 5px;
    color: #22D3EE;
    background-color: #1F2937;
    border: 2px solid #334155;
}

.stats-container div {
    margin-inline: auto;
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.product-card {
    border-radius: 8px;
}

.product-heading{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-block: 8px;
}

.product-card img {
    cursor: pointer;
    border-radius: 8px;
}

.product-heading h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
}

.product-heading h1:hover {
    /* text-decoration: underline; */
}

.product-description{
    font-size: 14px;
    color: rgb(95, 95, 95);
    margin-bottom: 8px;
}

.product-heading h2 {
    font-size: 18px;
    font-weight: 700;
}

.search-div {}

.search-div input {
    width: 100%;
    border-radius: 7px;
    padding: 10px;
    padding-left: 42px;
    border: 1.5px solid rgb(153, 153, 153);
}

.search-div input:focus {
    border: 1.5px solid rgb(112, 112, 112);
    outline: 0px;
}

.product-card img {
    width: 100%;
}



@media screen and (max-width:900px) {
    .hero-container {
        grid-template-columns: 1fr;
        padding-inline: 0.9rem;
    }

    .hero-image {
        width: 100%;
        border-radius: 12px;
    }

    .product-cards {
        grid-template-columns: 1fr;
    }

    #products {
        padding-inline: 0.9rem;
    }

    .stats-container {
        margin-inline: auto;
        grid-template-columns: 1fr;
    }

    .stats-container div {
        margin-inline: 0px;
        margin-bottom: 0.4rem;
        grid-template-columns: 1fr 1fr;
    }

    .footer-container {
        grid-template-columns: 100%;
        padding-inline: 0.9rem;
    }

    .reviews-title {
        padding-inline-start: 0.9rem;
    }

    .review-page {
        padding-inline: 0.9rem;
    }

    .review-page-card {
        grid-template-columns: 1fr;
    }
}