.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.home-container {}

.hero-heading {
    font-weight: 800;
    font-size: 48px;
    padding: 0px;
    margin: 0px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.5rem;
    color: white;
}

.light-button {
    margin-top: 1rem;
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #374151;
    color: rgb(226, 226, 226) !important;
}

.icons {
    font-size: 4.5rem;
    padding: 4px;
    border-radius: 5px;
    color: #22D3EE;
    background-color: #1F2937;
    border: 2px solid #334155;
}

.stats div {
    margin-inline: auto;
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.product-card {
    border: 1px solid gray;
    border-radius: 8px;
}

.product-card img {
    border-radius: 8px 8px 0px 0px;
    border-bottom: 1px solid gray;
}

.product-card h1 {
    font-size: 25px;
    font-weight: 500;
}

.product-card p {
    font-size: 14px;
}

.product-card h2 {
    font-size: 30px;
    font-weight: 600;
}

.search-div {}

.search-div input {
    width: 100%;
    border-radius: 7px;
    padding: 10px;
    padding-left: 42px;
    border: 1.5px solid rgb(153, 153, 153);
}

.search-div input:focus {
    border: 1.5px solid rgb(112, 112, 112);
    outline: 0px;
}

.product-card img {
    width: 100%;
}