.header-btn {
    /* padding: 3px 14px;
    border-radius: 8px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-left: 2rem; */
    margin-left: 20px;
}

.navitems {
    font-weight: 500;
    font-size: 15px;
    color: #9ca3af;
}

.navlink svg {
    display: inline;
}

.navitems .navlink.active {
    color: white;
    background-color: #9ca3af1e;
    padding: 6px 10px;
    border-radius: 7px;
}

.hr-divider {
    border-left: 1px solid gray;
}