.header-btn {
    margin-left: 20px;
}

.navitems {
    font-weight: 500;
    font-size: 15px;
    color: #9ca3af;
}

.navlink svg {
    display: inline;
}

.navitems .navlink.active,
.mobilenavitems .navlink.active {
    color: white;
    background-color: #9ca3af1e;
    padding: 6px 10px;
    border-radius: 7px;
}

.hr-divider {
    border-left: 1px solid gray;
}

.mobilenavitems {
    width: 100%;
    display: block;
    position: absolute;
    top: 56px;
    left: 0;
    background-color: #111827;
    padding-bottom: 0.5rem;
    padding-left: 0.4rem;
}

.mobilenavitems .navlink {
    display: block;
    margin-right: 8px;
    margin-bottom: 0.4rem;
}

.mobilenavitems .profile-button {
    margin-left: 70%;
    /* background-color: #9ca3af; */
}

.show-button {
    display: none;
}

@media screen and (max-width:900px) {
    .navitems {
        display: none;
    }

    .show-button {
        display: block;
    }

    .hr-divider {
        display: none;
    }
}