.product-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.product-detail img {
    width: 80%;
    float: center;
    margin-inline: auto;
}

.product-detail h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0.7rem;
    line-height: 120%;
}

.product-detail h2 {
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 0.7rem;
}

.product-detail input {
    padding: 10px;
    border: 2px solid #111827;
}

.product-detail h4 {
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width:900px) {
    .product-detail img {
        width: 100%;
        float: center;
        margin-inline: auto;
    }
    .product-detail {
        display: grid;
        grid-template-columns: 1fr;
        padding-inline: 0.9rem;
    }
}