@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::after,
*::before {
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.qoute {
  font-family: 'Lora', serif;
  /* font-family: 'Poppins', sans-serif; */
}

.bw-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}